<!-- Body -->
<main class="bg-black min-h-100 py-5 px-sm-3 px-2 position-relative">
  <div class="container py-5">
    <div class="row">
      <div class="col-12 d-flex justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-10 col-12">
          <!-- Top Intro Section -->
          <div class="row align-items-center">
            <div class="col-lg-3 col-md-3 col-sm-12 col-12">
              <img src="assets/images/My-Photo.jpg" priority
                class="rounded-circle img-fluid object-size-cover object-position-center" alt="">
            </div>
            <div class="col-lg-9 col-md-9 col-sm-12 col-12">
              <h1 class="heading-text">
                Hi, I'm Kaarim
              </h1>
              <div class="d-flex align-items-center">
                <img src="assets/images/Pakistanpng.png" height="25" width="25" alt="">
                💕
                <img src="assets/images/Palestine.png" height="25" width="25" alt="">
              </div>
              <p class="text-white fw-light">
                Driven Software Engineer specializing in ASP.NET Core & Angular, crafting fast, scalable, and clean web
                solutions.
              </p>
            </div>
          </div>
          <!-- About -->
          <div class="mt-5 mb-4">
            <h4 class="fw-bold text-white">About</h4>
            <small class="text-body-secondary">
              Dedicated Software Engineer with experience in <b class="text-white">ASP.NET Core MVC & Angular</b>. I’ve
              built multiple web applications with a focus on <strong class="text-white">clean code, efficiency and
                performance</strong>.
              I’m always exploring new tech and building cool things on the side.
            </small>
          </div>
          <!--  -->
          <!-- Work Experience -->
          <div class="mt-5 mb-4">
            <h4 class="fw-bold text-white">Work Experience</h4>
            <div class="d-flex gap-3 align-items-center">
              <div class="company-logo rounded-circle">
                <i class="bi bi-building text-white"></i>
              </div>
              <div class="d-flex justify-content-between w-100">
                <div class="d-flex flex-column">
                  <small class="text-white fw-semibold">
                    Mind Vibes Solutions
                  </small>
                  <small class="text-sxl">
                    Software Engineer
                  </small>
                </div>
                <div>
                  <small class="text-body-secondary">
                    Nov 2023 - Sep 2024
                  </small>
                </div>
              </div>
            </div>
          </div>
          <!--  -->
          <!-- Education -->
          <div class="mt-5 mb-4">
            <h4 class="fw-bold text-white">Education</h4>
            <div class="d-flex gap-3 align-items-center mb-4">
              <div class="company-logo rounded-circle">
                <img src="assets/images/Aptech.jpg" class="h-100 w-100 rounded-circle" alt="">
              </div>
              <div class="d-flex justify-content-between w-100">
                <div class="d-flex flex-column">
                  <small class="text-white fw-semibold">
                    Aptech Computer Education
                  </small>
                  <small class="text-sxl">
                    Software Engineering Diploma
                  </small>
                </div>
                <div>
                  <small class="text-body-secondary">
                    Aug 2022 - Present
                  </small>
                </div>
              </div>
            </div>
            <div class="d-flex gap-3 align-items-center mb-4">
              <div class="company-logo rounded-circle">
                <img src="assets/images/Brilliant-School-Pic.jpg" class="h-100 w-100 rounded-circle" alt="">
              </div>
              <div class="d-flex justify-content-between w-100">
                <div class="d-flex flex-column">
                  <small class="text-white fw-semibold">
                    Brilliant Career Grammer School
                  </small>
                  <small class="text-sxl">
                    Computer Science
                  </small>
                </div>
                <div>
                  <small class="text-body-secondary">
                    Aug 2015 - Dec 2020
                  </small>
                </div>
              </div>
            </div>
            <div class="d-flex gap-3 align-items-center mb-4">
              <div class="company-logo rounded-circle">
                <img src="assets/images/Jinnah-College.jpg" class="h-100 w-100 rounded-circle" alt="">
              </div>
              <div class="d-flex justify-content-between w-100">
                <div class="d-flex flex-column">
                  <small class="text-white fw-semibold">
                    Jinnah Polytechnic Institute
                  </small>
                  <small class="text-sxl">
                    C-I-T Technology
                  </small>
                </div>
                <div>
                  <small class="text-body-secondary">
                    Aug 2022 - Present
                  </small>
                </div>
              </div>
            </div>
          </div>
          <!--  -->
          <!-- Skills -->
          <div class="mt-5 mb-5">
            <h4 class="fw-bold text-white">Skills</h4>
            <span class="badge text-bg-light mx-1 mb-1">Angular</span>
            <span class="badge text-bg-light mx-1 mb-1">JavaScript</span>
            <span class="badge text-bg-light mx-1 mb-1">TypeScript</span>
            <span class="badge text-bg-light mx-1 mb-1">ASP .NET Core</span>
            <span class="badge text-bg-light mx-1 mb-1">MVC</span>
            <span class="badge text-bg-light mx-1 mb-1">Restful API</span>
            <span class="badge text-bg-light mx-1 mb-1">PHP</span>
            <span class="badge text-bg-light mx-1 mb-1">Dart</span>
            <span class="badge text-bg-light mx-1 mb-1">Flutter</span>
            <span class="badge text-bg-light mx-1 mb-1">MySQL</span>
            <span class="badge text-bg-light mx-1 mb-1">SQL Server</span>
            <span class="badge text-bg-light mx-1 mb-1">JQuery</span>
            <span class="badge text-bg-light mx-1 mb-1">Bootstrap</span>
            <span class="badge text-bg-light mx-1 mb-1">Tailwind Css</span>
            <span class="badge text-bg-light mx-1 mb-1">Git & GitHub</span>
          </div>
          <!--  -->
          <!-- Projects -->
          <div class="pt-5 d-flex flex-column gap-2 align-items-center">
            <div class="text-bg-light rounded-pill h6 px-3 py-2">
              My Projects
            </div>
            <h1 class="heading-text-2 text-center">
              Some of my Latest Work
            </h1>
            <p class="text-body-secondary text-center">
              While working on variety of projects, from basic web app to complex web applications. here are few of
              them!
            </p>
          </div>
          <div class="row">
            <div class="col-lg-6 col-sm-12 col-12">
              <div class="project-cards">
                <a href="https://github.com/KaarimHussain/Jobistan" target="_blank">
                  <img src="assets/images/Jobistan.PNG" alt="">
                </a>
                <div class="p-3">
                  <div class="h4 text-white fw-semibold">
                    Jobistan
                  </div>
                  <p class="text-white text-sxl p-0 m-0 mb-1">Sep 2024 - Dec 2024</p>
                  <p class="text-body-secondary project-description p-0 m-0 mb-1">
                    A modern PHP/MySQL job platform connecting seekers and employers. Features secure authentication,
                    advanced search, encrypted messaging, and AI-powered security.
                  </p>
                  <div class="mb-1">
                    <div class="badge me-1 mb-1 text-bg-dark">
                      PHP
                    </div>
                    <div class="badge me-1 mb-1 text-bg-dark">
                      MySQL
                    </div>
                    <div class="badge me-1 mb-1 text-bg-dark">
                      Bootstrap
                    </div>
                    <div class="badge me-1 mb-1 text-bg-dark">
                      JQuery
                    </div>
                    <div class="badge me-1 mb-1 text-bg-dark">
                      Composer
                    </div>
                    <div class="badge me-1 mb-1 text-bg-dark">
                      Gemini
                    </div>
                  </div>
                  <a href="https://github.com/KaarimHussain/Jobistan" target="_blank"
                    class="text-dark btn badge btn-light">
                    <i class="bi bi-github"></i>
                    Source
                  </a>
                </div>
              </div>
            </div>
          </div>
          <!--  -->
          <!-- Get In Touch -->
          <div class="my-5">
            <div class="pt-5 d-flex flex-column gap-2 align-items-center">
              <div class="text-bg-light rounded-pill h6 px-3 py-2">
                Contact
              </div>
              <h1 class="heading-text-2 text-center">
                Get In Touch
              </h1>
              <p class="h5 text-body-secondary text-center">
                Wanna Talk? <a href="mailto:kaariminnocent@gmail.com" class="text-decoration-none">send me Mail</a> or
                just throw a <a href="https://www.instagram.com/kaarimhussain/" target="_blank"
                  class="text-decoration-none">dm on my
                  IG</a>. I'll response when I get time.
              </p>
            </div>
          </div>
          <!--  -->
        </div>
      </div>
    </div>
  </div>

</main>
<!--  -->
<!-- Tabs Bottom Section -->
<div class="fixed-bottom bottom-0 start-50 translate-middle-x">
  <div class="tabs-section">
    <div class="tabs-wrapper">
      <a target="_blank" href="https://github.com/KaarimHussain" class="icon-btn">
        <i class="bi bi-github"></i>
      </a>
      <a target="_blank" href="https://www.linkedin.com/in/kaarim-hussain-bb2559270/" class="icon-btn">
        <i class="bi bi-linkedin"></i>
      </a>
      <a target="_blank" href="https://mobile.x.com/KaarimHussain" class="icon-btn">
        <i class="bi bi-twitter"></i>
      </a>
      <a target="_blank" href="https://www.instagram.com/kaarimhussain/" class="icon-btn">
        <i class="bi bi-instagram"></i>
      </a>
    </div>
  </div>
</div>
<!--  -->
